.full-message-container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-message-shadow {
    width: 100%;
    height: 100%;
}

.full-message-shadow-default {
    @extend .full-message-shadow;

    background-color: $color-black-transparent-03;
}

.full-message-shadow-success {
    @extend .full-message-shadow;

    background-color: $color-green-transparent-03;
}

.full-message-shadow-fail {
    @extend .full-message-shadow;

    background-color: $color-red-transparent-03;
}

.full-message {
    z-index: 11;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;

    span {
        z-index: 1;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 80%;
        overflow-wrap: break-word;
        color: $color-white;
        font-size: 32px;
    }
}

@media screen and (max-width: 425px) {
    .full-message {
        width: calc(100% - 32px);
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .full-message {
        width: calc(100% - 128px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .full-message {
        width: calc(100% - 128px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .full-message {
        width: calc(100% - 128px);
    }
}

@media screen and (min-width: 1440px) {
    .full-message {
        width: calc(100% - 256px);
    }
}
