.player-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translate(-50%, -50%);
    padding: 16px;
    cursor: pointer;
    user-select: none;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;

    .pixel-background {
        pointer-events: none;

        canvas {
            pointer-events: none;
        }
    }

    img {
        z-index: 1;
        align-self: center;
        pointer-events: none;
        user-select: none;
    }

    span {
        z-index: 1;
        color: $color-black;
        padding-top: 4px;
        font-size: 14px;
        line-height: 14px;
        align-self: center;
        pointer-events: none;
        user-select: none;
    }

    .player-card-counter {
        z-index: 1;
        position: absolute;
        right: 8px;
        top: 8px;
        width: 32px;
        height: 32px;
        display: flex;
        pointer-events: none;
        user-select: none;

        span {
            z-index: 4;
            position: absolute;
            color: $color-white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            line-height: 14px;
            padding: 0;
            pointer-events: none;
            user-select: none;
        }
    }

    /*.player-card-counter {
        z-index: 1;
        position: absolute;
        right: 8px;
        top: 8px;
        display: flex;
        //background-image: url($card-counter-texture);
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: crisp-edges;
        background-repeat: no-repeat;
        background-size: cover;
        width: 26px;
        height: 26px;
        pointer-events: none;
        user-select: none;
    }

    .player-card-counter span {
        position: absolute;
        
        color: $color-white;
        font-size: 12px;
        line-height: 14px;
        padding: 0;
        align-self: center;
        pointer-events: none;
        user-select: none;
    }*/
}

.player-card-disabled {
    @extend .player-card;

    cursor: default;

    img {
        filter: grayscale(1) opacity(0.5);
    }

    span {
        filter: opacity(0.5);
    }
}

.player-card-dead {
    @extend .player-card;

    cursor: default;

    span {
        color: $color-red;
    }
}

@media screen and (max-width: 425px) {
    .player-card {
        padding: 10px;

        span {
            font-size: 10px;
            line-height: 12px;
        }

        .player-card-counter {
            width: 18px;
            height: 18px;

            span {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .player-card {
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .player-card {
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .player-card {
    }
}

@media screen and (min-width: 1440px) {
    .player-card {
    }
}
